body{
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

h1,
h2,
p{
    align-self: center;
    text-align: center;
    padding: 8px;
}

p{
    font-size: 120%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
img{
    box-sizing: border-box;
    box-shadow: 2px 2px;
    display: flex;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
}


li{
    text-align: center;
    padding: 2px;
    font-size: 120%;
}

ul{
    justify-self: center;
}